@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f3eaf2;
}
body {
  max-width: 700px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.heading {
}
.heading_primary {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
.heading_secondary {
}
.form {
  margin: 48px 0;
}
.form-field {
  padding: 20px 20px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 14px;
}
.form-field div {
  background-color: #fff;
}
.form-field label {
  font-size: 18px;
  display: block;
  background-color: #fff;
}
.form-field select {
  min-width: 176px;
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dadce0;
  font-size: 16px;
  height: 48px;
}

.form-field span {
  font-size: 14px;
  font-style: italic;
  display: block;
  background-color: #fff;
  margin: 8px 0;
}
.form-field input,
.form-field textarea {
  width: 260px;
  border: none;
  border-bottom: 1px solid #dadce0;
  font-size: 16px;
  /* height: 48px; */
  margin-top: 24px;
  background-color: #fff;
  animation: all 0.15s;
  font-family: "Poppins", sans-serif;
}
.form-field textarea {
  height: 60px;
  width: 400px;
}
.form-field input:focus,
.form-field textarea:focus {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}
.error {
  border: 1px solid red;
}
.error-text {
  font-size: 12px;
  color: red;
  background-color: #fff;
  margin-top: 12px;
  display: none;
}
.error .error-text {
  display: block;
}
.submit {
  background-color: #a1609f;
  height: 48px;
  width: 128px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.success {
  margin-top: 40px;
}
.success-text {
  font-size: 24px;
}
.error-msg {
  color: red;
  margin-top: 3rem;
}
